.segment label {
  transition: color 0.5s ease;
}

.segment.active label {
  color: #072924 !important;
  border-radius: 32px;
  font-weight: 700;
}

.controls::before {
  content: '';
  background: #ffffff;
  border-radius: 8px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  z-index: 0;
  border-radius: 32px;
}

/* Only allow transitions once component is ready */
.controls.ready::before {
  transition:
    transform 0.3s ease,
    width 0.3s ease;
}
